body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tiles-container {
  display: grid;
  /* Creates 3 columns of equal width */
  grid-template-columns: repeat(3, 4rem);
  /* Creates 3 rows of equal height */
  grid-template-rows: repeat(3, 4rem);
  /* Adds space between grid cells */

  justify-content: center;
  align-content: center;
  height: 100%;
}

.tiles-container div {
  display: flex;
  align-items: center;
  justify-content: center;

  outline: 0.1rem solid black;

  color: black;
}

.tiles-container div:hover {
  background-color: lightblue;
}

.highlight {
  background-color: green;
}
